[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    height: 100%;
    position: relative;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body{
    background-image: linear-gradient(rgb(230, 230, 230),rgb(102, 100, 100));
    height: 97.6vh;
}
.main{
    height: 95vh; width: 100%;
    border-radius: 1vmin;
}
.hd{
    height: 10%; width: 99%; text-align: center; display: block; background-color: rgba(0, 0, 0, 0.15);
    border-radius: 90px; margin-bottom: 1%; box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.25); border: 0.2vmax rgba(0, 0, 0, 0.17) solid;
}
.uhd{
    width: 100%; height: 85%;border-radius: 1vmin; border: 0.2vmax rgba(0, 0, 0, 0.515) solid; box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.25);
}
#tart{
    background-color: rgba(0, 0, 0, 0.1); width: 10%;
    border-radius: 1vmin;
    display: inline;
    float: left;
    height: 100%;
    padding: 0;
}
#tart1{
    
    width: 80%;
    display: inline-block;
    height: 100%;
    border-radius: 1vmin;

}
#tart2{
    border-radius: 1vmin;
    display: inline;
    float: right;
    height: 100%;
    padding: 0;
}
.bruh {   
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.avdiv{
    float: right;
    height: 100%;
    padding: 0;
}
.pdiv{ 
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-size: large;
    margin: 0px;
}
.avatar {
    float: left;
    height: 100%;
    border-radius: 260px;
}
.av2div{
    border: none;
    float: left;

    padding: 0;
    
}
.avatar2 {
    float: right;
    height: 100%;
    border-radius: 260px;
}
.avatar:hover{
    height: 95%;
}
.avatar2:hover{
    height: 95%;
}
.hirhd{
    width: 100%; height: 3%;margin-bottom: 2%; background-color: rgba(17, 17, 17, 0.61); color: aliceblue; text-align: center;
}
.hirlink{
    height: 100%; width: 100%;    text-decoration: none;
}
.hir{
    color: black;
    width: 100%;
    height: 18.7%;
    padding-bottom: 0.4%;
}
.hirkep{
    width: 100%;
    height: 75%;
}
.hircim{
    width: 100%;
    height: 25%;
    font-size: 0.7rem;
    color: white;
    text-shadow: 2px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.172);
    display: flex;
    text-align: center;
}
.mid{
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}
footer{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5vmin;
    height: 5.5%; width: 100.5%;
}
